.navbar {
	background-color: #2f3947;
	height: 60px;
	width: 100%;
	border: 0;
}
.navbar div {
	display: flex;
	margin: 0 auto;
	height: 100%;
}
.navbar div h1, .navbar div h2, .navbar div a {
	display: inline-flex;
	align-items: center;
}
.navbar div h1 {
	flex: 1;
	font-size: 32px;
	padding: 0;
	margin: 0 0 0 10px;
	color: #eaebed;
	font-weight: normal;
}

.navbar div h2 {
	color: #eaebed;
	font-weight: bold;
	font-style: italic;
}

.navbar div a {
	padding: 0 20px;
	text-decoration: none;
	color: #c1c4c8;
	font-weight: bold;
}
.navbar div a i {
	padding: 2px 8px 0 0;
}
.navbar div a:hover {
	color: #eaebed;
}
body.signedin {
	background-color: #f3f4f7;
}
.infobar {
	margin: 0 auto;
}
.infobar h2 {
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
	margin: 0 0 0 10px;
}
.infobar > p, .infobar > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: #fff;
}
.infobar > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}

.commandbar {
	margin: 0 auto;
}

.commandbar form {
	display: inline-flex;
	align-items: center;
}

.commandbar form input[type="submit"] {
	padding: 15px;
    margin-left: 20px;
	background-color: #3274d6;
	cursor: pointer;
	font-weight: bold;
	color: #ffffff;
	transition: background-color 0.2s;
}

.commandbar output[for="player_cnt"] {
	background:#000;
	color:#fff; 
	padding: .2rem;  
}

.cardarea {
	margin: 0 auto;
	background-color:#c6ffc1;
}